@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="navbar-form navbar-left"  method="post" enctype="multipart/form-data">
  <div class="panel panel-default">
  <div class="panel-heading">File to upload ...</div>
  <div class="panel-body">
    <div class="form-group">
  		<input type="file" name="file" id="file" />
  	</div>
  	 <p></p>
  	<input class="btn btn-primary" role="button" type="submit" value="Upload file"/>
  </div>
</div>
</form>

