@{
    ViewBag.Title = "WebHook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
<h2>Please find your result at @ViewData["WebHook"]!</h2>

</body>
</html>

